# Игнорировать исполняемые файлы
hello
hello-dbg

# Игнорировать объектные файлы (.o) и файлы временной сборки
*.o
*.obj
*.out
*.exe

# Игнорировать каталоги для временных файлов и сборок
/build/
bin/
debug/
release/

# Игнорировать файлы сборки из make
Makefile~
*.d

